<div class="app-header">
    <h1 class="app-title">@Title</h1>
    <button class="icon-button" @onclick="OnAddClicked" title="Add account">
        <i class="fas fa-plus me-2"></i>
        <span>Add account</span>
    </button>
</div>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public EventCallback OnAddClicked { get; set; }
}