<div class="app-header">
    <h1 class="app-title">@Title</h1>
    <button class="icon-button" @onclick="OnAddClicked" title="Add account">
        <svg viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"/>
        </svg>
        Add account
    </button>
</div>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public EventCallback OnAddClicked { get; set; }
}