@using RiotAccountManager.MAUI.Services.ApplicationUpdateService
@if (_updateAvailable)
{
    <div class="update-banner">
        <span>A new version of Riot Account Manager is available.</span>
        <button @onclick="Update">Update now</button>
    </div>
}

@code {
    [Inject] public IApplicationUpdateService ApplicationUpdateService { get; set; }

    private bool _updateAvailable;

    protected override async Task OnInitializedAsync()
    {
        if (await ApplicationUpdateService.CheckForUpdates())
        {
            _updateAvailable = true;
        }
    }

    private async Task Update()
    {
        try
        {
            await ApplicationUpdateService.DownloadAndApplyUpdate();
            _updateAvailable = false;
        }
        catch (Exception ex)
        {
            // Obsłuż błąd
        }
    }

}