@page "/"
@using RiotAccountManager.MAUI.Components.Dashboard
@inherits  DashboardBase

<div class="app-container">
    <AppHeader Title="Riot Account Manager" OnAddClicked="OpenAddDialog" />

    <AccountList
        Accounts="Accounts"
        OnAccountSelected="NavigateToDetails"
        OnLoginRequested="Login"
        OnEditRequested="OpenEditDialog"
        OnDeleteRequested="DeleteAccount" />

    @if (ShowAddDialog)
    {
        <AddAccountModal
            Show="true"
            Account="NewAccount"
            Regions="Regions"
            ErrorMessage="@ErrorMessage"
            OnClose="CloseAddDialog"
            OnSave="SaveNewAccount" />
    }

    @if (ShowEditDialog)
    {
        <EditAccountModal
            Show="true"
            EditAccountModel="EditAccountModel"
            Regions="Regions"
            ErrorMessage="@ErrorMessage"
            OnClose="CloseEditDialog"
            OnSave="SaveEditedAccount" />
    }

    <DeleteConfimationModal
        Show="ShowDeleteConfirmation"
        OnConfirm="ConfirmDelete"
        OnCancel="CancelDelete" />

    <SupportButton OnClick="OpenBuyMeACoffee" />

    <SecurityWarning />
</div>