@page "/"
@using RiotAccountManager.MAUI.Components.Dashboard
@using RiotAccountManager.MAUI.Data
@inherits DashboardBase

<div class="app-container">
    <AppHeader Title="Riot Account Manager" OnAddClicked="OpenAddDialog"/>

    <AccountList
        Accounts="Accounts"
        OnLoginRequested="Login"
        OnEditRequested="OpenEditDialog"
        OnDeleteRequested="DeleteAccount"/>

    <AddAccountModal
        Show="ShowAddDialog"
        Account="NewAccount"
        Regions="Constants.Regions"
        ErrorMessage="@ErrorMessage"
        OnClose="CloseAddDialog"
        OnSave="SaveNewAccount"/>

    <EditAccountModal
        Show="ShowEditDialog"
        EditAccountModel="EditAccountModel"
        Regions="Constants.Regions"
        ErrorMessage="@ErrorMessage"
        OnClose="CloseEditDialog"
        OnSave="SaveEditedAccount"/>

    <DeleteConfirmationModal
        Show="ShowDeleteConfirmation"
        OnConfirm="ConfirmDelete"
        OnCancel="CancelDelete"/>

    <SupportButton OnClick="OpenBuyMeACoffee"/>

    <SecurityWarning/>
</div>